.breadcrumbs {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  list-style: none;

  border-radius: 6px;

  li {
    text-decoration: none;
    text-align: left;
    display: inline;

    a {
      text-decoration: none;
      font-weight: bold;
      font-family: sans-serif;
    }

    &:after {
      padding-left: 6px;
      padding-right: 6px;
      content: "/";
    }

    &:last-child:after {
      content: "";
    }
  }
}
