@import "../../../../style/mixins";

$presenter-body: #222222 !default;
$presenter-icon-hover: white !default;
$presenter-icon: #cecece !default;
$presenter-body: rgba(#efefef, 0.8);

:host {
  right: 32px;
  bottom: 93px;
  position: absolute;
  height: 32px;
}

.presenter {
  position: relative;
  opacity: 0;
  transition: opacity 500ms linear;
  border-radius: 4px;
  background-color: $presenter-body;
  direction: ltr;
  display: block;
  font-size: 13px;
  white-space: nowrap;
  z-index: 11;

  padding: 0 5px;

  &.vertical {
    padding: 2px 2px;
  }

  &.active {
    opacity: 1;
  }

  .flat-button {
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    vertical-align: middle;

    padding: 6px 5px;
    display: inline-block;
    cursor: pointer;

    &.vertical {
      display: block;
    }

    &:before {
      color: $presenter-icon;
    }

    &:hover:before {
      color: $presenter-icon-hover;
    }
  }
}

.presenter-play {
  @include icon(before, '\f415')
}

.presenter-next {
  @include icon(before, '\f374')
}

.presenter-forward {
  @include icon(before, '\f19f')
}
