<section class="vertical presenter" [class.active]="showControls && active">
  <div class="vertical flat presenter-plus" (click)="onZoomIn($event)"></div>
  <div class="vertical flat presenter-minus" (click)="onZoomOut($event)"></div>
  <div class="vertical flat presenter-fit" (click)="onFitView($event)"></div>
</section>
<section class="omnibox" *ngIf="showControls && active">
  <div class="home"> </div>
  <div class="search-box"></div>
</section>
<section class="layers">
  <div class="handle"></div>
  <div class="item layer" *ngFor="let layer of layers"></div>
  <div class="item user" *ngFor="let user of users">
    <div class="status {{user.status}}"></div>
  </div>
</section>
  