.style-header {
    line-height: 21px;
    height: 21px;
    width: 100%;
    border-bottom: rgba(black, 0.3) solid 1px;
    padding: 4px 10nöppx;
    font-weight: bold;
    font-size: 0.8rem;

    &.first {
        border-top: rgba(black, 0.3) solid 1px;
    }
}

.style-entry {
  padding: 10px 10px;
}

.style-title {
  line-height: 20px;
  height: 20px;
  vertical-align: text-bottom;
  font-size: 0.8rem;
}
