$progress-bar-color: cornflowerblue;
$progress-bar-maximum-color: #333;
$progress-bar-fill: #ccc;

:host {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 46px;
    background-color: $progress-bar-fill;
    z-index: 100;
    opacity: 0.8;
}

.playbar-inner {
    margin: 0 auto;
    width: 1024px;
}

.playbar-main {
    float: left;
    margin: 0 40px 0 0;
}

.playbar-controls {
    list-style: none;
    padding: 0; 
    margin: 0;

    .control-item {
        display: inline-block;
        float: left;
    }

    button {
        width: 32px;
        height: 46px;
        line-height: 46px;
        cursor: pointer;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        background-color: #ddd;
    }
}

.playbar-timeline-container {
    position: relative;
    width: 487px;
    height: 46px;
}

.playbar-timeline {
    position: absolute;
    left: 50px;
    right: 50px;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 6px;
 }

.playbar-timing {
    margin-right: 20px;
}

.playbar-timeline-current {
    color: $progress-bar-color;
    text-align: right;
    width: 50px;
    height: 46px;
    line-height: 46px;

    span {
        font-size: 11px;
    }
}

.playbar-timeline-maximum {
    color: $progress-bar-maximum-color;
    text-align: left;
    cursor: pointer;
    width: 50px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.playbar-progress-bar {
    height: 1px;
    background-color: $progress-bar-color;
    transition: width 100ms;
    position: relative;
    top:-1px;
}

.playbar-progress-drop {
    width: 100%;
    height: 1px;
    background-color: darken($progress-bar-fill, 6);
}