@import "../../../../style/mixins";
@import "../../../../style/theme";
@import "../../../../style/variables";

$presenter-body: rgba(#efefef, 0.8);

:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.flat-button {
  font-weight: bold;
  line-height: 14px;
  margin: 0;
  vertical-align: middle;
  transition: color 2s ease-out;
  padding: 6px 5px;
  display: inline-block;
  cursor: pointer;

  &.vertical {
    display: block;
  }

  &:before {
    transition: color 400ms ease-out;
    color: $icon-color;
  }

  &:hover:before {
    color: $icon-hover;
  }
}

.presenter {
  right: $diagram-control-offset;
  bottom: $diagram-control-offset;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms linear;
  border-radius: 4px;
  background-color: $presenter-body;
  direction: ltr;
  display: block;
  font-size: 13px;
  white-space: nowrap;
  z-index: 11;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);

  padding: 0 5px;

  &.vertical {
    padding: 2px 2px;
  }

  &.active {
    opacity: 1;
  }
}

.presenter-play {
  @include icon(before, '\f415')
}

.presenter-next {
  @include icon(before, '\f374')
}

.presenter-forward {
  @include icon(before, '\f19f')
}


.omnibox {
  position: absolute;
  left: $diagram-control-offset;
  top: $diagram-control-offset;

  .home {
    position: absolute;
    left: 0;
    top: 0;

    @include icon(before, '\f35c') {
      color: $icon-color;
      font-size: 24px;
    }

    &:hover {
      color: $icon-hover;
    }
  }
  
}