@import "../../../../style/theme";
@import "../../../../style/mixins";
@import "../../../../style/variables";

$sidebar-header-height: 38px;

:host {
  @include fillh();
}

.sidebar-header {
  box-sizing: border-box;
  height: $sidebar-header-height;
  padding: 8px 12px;
  position: absolute;
  left: 0; right: 0;
  overflow: hidden;
  min-height: 18px;
  z-index: 12;
  background-color: $sidebar-header;

  .sidebar-header-title {
    margin-top: -2px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-overflow: ellipsis;
    color: $sidebar-header-title;
    user-select: none;
  }
}

.sidebar-content {
  @include fill(0, $sidebar-header-height, 0, 0);
}

.sidebar-close-icon {
  position: absolute;
  right: 8px;
  top: 6px;
  cursor: pointer;
  transition: color 200ms ease-out;

  &:hover {
    @include icon(before, '\f156') {
      color: $sidebar-header-icons-hover;
    }
  }

  @include icon(before, '\f156') {
    color: $sidebar-header-icons;
    transition: color 200ms ease-out;
  }
}

.sidebar-config-icon {
  position: absolute;
  right: 32px;
  top: 6px;
  cursor: pointer;
  transform: translateY(18%);

  &:hover {
    @include icon(before, '\f1d8') {
      color: $sidebar-header-icons-hover;
    }
  }

  @include icon(before, '\f1d8') {
    transition: color 200ms ease-out;
    color: $sidebar-header-icons;
  }
}

.overlay {
  position: absolute;
  z-index: 100;
  top: $sidebar-header-height;
  bottom: 0;
  width: 100%;
  background-color: white;
}
