<section class="sidebar-header" *ngIf="showHeader == true">
    <h3 class="sidebar-header-title">{{title}}</h3>
    <div class="sidebar-extras">
      <div class="sidebar-close-icon" (click)="toggle()"></div>
      <div class="sidebar-config-icon"></div>
    </div>
</section>
<section class="overlay" *ngIf="isLoading == true">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</section>
<section class="sidebar-content" *ngIf="isLoading == false">
  <ng-content></ng-content>
</section>

