.splitpane-content {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;

  &.left {
    left: 0;
    background-color: #eeeeee;
    padding-right: 0;
  }

  &.right {
    right: 0;
    background-color: #eeeeee;
    padding-left: 5px;
  }
}

.splitpane {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.splitpane-divider {
  background-color: #bbbbbb;
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  transition: background .133s ease-out;
  z-index: 100;

  &.left {
    margin-left: -5px;
    width: 5px;
  }

  &.right {
    margin-left: -1px;
    width: 5px;
  }

  &:before {
    content: '• • •';
    color: #aaaaaa;
    width: 10px;
    position: absolute;
    top: 50%;
    left: -2.3px;
    font-weight: 300;
    line-height: 6px;
    font-size: 11px;
    text-align: center;
    margin-top: -15px;
  }

  &:hover {
    background-color: #999;
    cursor: col-resize;

    &.vertical {
      cursor: row-resize;
    }

    &:before {
      color: #eeeeee;
    }
  }
}
