<div class="splitpane">
  <div class="splitpane-content"
       style="width: 20%; background-color: #eeeeee">
  </div>
  <div class="splitpane-divider"
       style="margin-left: -5px; width: 5px; left: 20%"></div> -->
  <div class="splitpane-content" style="left:20%; width: 80%">
    <canvas-view></canvas-view>
  </div>
  <div class="splitpane-divider"
       style="margin-left: -1px; width: 5px; left: 80%"></div>
  <div class="splitpane-content"
       style="left: 80%;width: 20%; background-color: #eeeeee">
  </div>
</div>
