<triple-split *ngIf="config.slimLayout != true">
    <sidebar left title="Project" side="left" (visibility)="togglePrimary($event)">
      <explorer></explorer>
    </sidebar>
    <double-split center orientation="horizontal">
      <diagram left></diagram>
      <sidebar right title="Simulation" (visibility)="toggleTernary($event)">
        <dataview></dataview>
      </sidebar>
    </double-split>
    <sidebar right title="Palette" side="right" (visibility)="toggleSecondary($event)">
      <palette></palette>
    </sidebar>
</triple-split>
<double-split *ngIf="config.slimLayout == true" orientation="horizontal">
  <triple-split left>
    <sidebar left title="Project" side="left" (visibility)="togglePrimary($event)">
      <explorer></explorer>
    </sidebar>
    <diagram center></diagram>
    <sidebar right title="Palette" side="right" (visibility)="toggleSecondary($event)">
      <palette></palette>
    </sidebar>
  </triple-split>
  <sidebar right title="Simulation" (visibility)="toggleTernary($event)">
    <dataview></dataview>
  </sidebar>
</double-split>
