<navigation></navigation>
<div class="workspace" *ngIf="slimLayout">
  <iconbar #toolsLeft vertical="true" primary="true"></iconbar>
  <iconbar #toolsRight vertical="true" primary="false"></iconbar>
  <triple-split class="content" [class.active-bottom]="toolsBottom">
    <sidebar left #leftBar [title]="toolsLeft.selectedItem?.title" isPrimary="true">
      <explorer #explorer class="tool" [class.active]="toolsLeft.selectedItem === explorer"></explorer>
      <issues #issues class="tool" [class.active]="toolsLeft.selectedItem === issues"></issues>
      <formalism #formalism class="tool" [class.active]="toolsLeft.selectedItem === formalism"></formalism>
    </sidebar>
    <!--
    <double-split center horizontal="true">
      <diagram left #diagram></diagram>
      <sidebar right #bottomBar [title]="toolsBottom.selectedItem?.title">
        <dataview #dataview></dataview>
      </sidebar>
    </double-split> 
    -->
    <diagram center #diagram></diagram>
    <sidebar right #rightBar [title]="toolsRight.selectedItem?.title" isPrimary="false">
      <inspector #inspector class="tool" [class.active]="toolsRight.selectedItem === inspector"></inspector>
      <palette #palette class="tool" [class.active]="toolsRight.selectedItem === palette"></palette>
    </sidebar>
  </triple-split>
  <iconbar #toolsBottom vertical="false" *ngIf="toolsBottom"></iconbar>
</div>