$navigation-color: royalblue;

.navigation {
  position: absolute;
  overflow: hidden;
  list-style: none;
  top: 0;
  height: 21px;
  left: 0;

  background-color: $navigation-color;
  border-radius: 3px;

  li {
    text-decoration: none;
    text-align: left;
    display: inline;
    margin-top: 6px;

    a {
      text-decoration: none;
      color: #4a4a4a;
      font-weight: bold;
      font-family: sans-serif;
    }

    &:after {
      padding-left: 6px;
      padding-right: 6px;
      content: "/";
    }

    &:last-child:after {
      content: "";
    }
  }
}
