@import '../../../style/theme';

:host {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.layer {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.grid {
  color: $grid-lines;
  background-color: $grid-fill;
}

.overlay {
  z-index: 100;
  background-color: lighten($navigation-fill, $amount: 6);
}

.controls {
  position: absolute;

  &.top-left {
    margin-top: 16px;
    margin-left: 16px;
    top:0;
    left:0;
  }

  &.top-right {
    margin-top: 16px;
    margin-right: 16px;
    top:0;
    right:0;
  }

  &.bottom-right {
    margin-bottom: 16px;
    margin-right: 16px;
    bottom:0;
    right:0;
  }

  &.bottom-left {
    margin-bottom: 16px;
    margin-left: 16px;
    bottom:0;
    left:0;
  }
}

@keyframes grow {
    0% {
        width: 5px;
        height: 5px;
    }
    50% {
        width: 15px;
        height: 15px;
        opacity: 1;
    }
    100% {
        width: 25px;
        height: 25px;
        opacity: 0;
    }
}