@import '../../../style/theme';

:host {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  background-color: $diagram-background;
}

.layer {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  z-index: 100;
  background-color: lighten($navigation-fill, $amount: 6);
}