@import "../../../../../style/mixins";
@import "../../../../../style/theme";

$text-color: #dddddd;
$text-locked: #aaaaaa;
$text-disabled: darken($text-locked, 24);

.sheet-properties {
  padding: 5px 8px; 
}

.sheet-property {
  height: 58px;
  margin-bottom: 6px;

  .sheet-label {
    margin-bottom: 2px;
    margin-left: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    line-height: 21px;

    &.locked {
      @include icon(after, '\f33E') {
        color: $text-locked;
        font-size: 12px;
      }
    }
  }

  .sheet-input {
    box-sizing: border-box;
    width:100%;
    line-height: 18px;
    padding: 4px;
    margin-bottom: 5px;
    font-size: .8rem;
    border: 1px solid $sidebar-border;
    border-radius: 3px;
    background-color: $sidebar-header;
    color: $text-color;
  }

  input[disabled] {
    cursor: not-allowed;
    color: $text-disabled;
  }
}
