@import "../../../../../style/mixins";

.sheet-property {
  height: 58px;
  margin-bottom: 6px;

  .sheet-label {
    margin-bottom: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    line-height: 21px;
    text-overflow: ellipsis;
    overflow: hidden;

    &.locked {
      @include icon(after, '\f33E') {
        color: #aaaaaa;
        font-size: 12px;
      }
    }
  }

  .sheet-input {
    box-sizing: border-box;
    width:100%;
    line-height: 18px;
    padding: 4px;
    margin-bottom: 5px;
    font-size: .8rem;
    border: 1px solid #bbb;
    border-radius: 3px;
  }

  input[disabled] {
    cursor: not-allowed;
  }
}
