.schedule-body {
    background-color: #5987fb;
    overflow: hidden;
}

.schedule-header {
    height: 100%;
    width: 100%;
}

.schedule-main {
    background: white;
    position: absolute;
    overflow: hidden;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}