:host {
  position: absolute;
  left: 32px;
  bottom: 32px;
  width: 128px;
  height: 128px;
  overflow: hidden;

  // border: solid 1px darkgrey;
  border-radius: 4px;
  background-color: rgba(#efefef, 0.8);
}
