:host {
  background-color: #eeeeee;
}

.project-card-title {
  font-size: 18px;
}

.project-card-date {
  font-size: 12px;
  color: cornflowerblue;
}

.project-card-preview {
  height: 128px;
  width: 128px;
  background-color: #0C2C53;
}

.project-card-description {

}
