@import "../style/theme";

.header {
  position: absolute;
  overflow: hidden;
  top:0;
  right:0;
  left:0;
  height: $navigation-height;
}

.main {
  position: absolute;
  overflow: hidden;
  top:$navigation-height;
  right:0;
  left:0;
  bottom: 0;
}
