@import "../style/theme";
@import "../style/variables";
@import "../style/mixins";

:host {
  position: absolute;
  overflow: hidden;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.navigation {
  position: absolute;
  overflow: hidden;
  top:0;
  right:0;
  left:0;
  height: $navigation-height;
}

.workspace {
  position: absolute;
  overflow: hidden;
  top: ($navigation-height /* + $toolbar-height */ + 1);
  right:0;
  left:0;
  bottom: 0;
}

/*
.leftbar {
  position: absolute;
  overflow: hidden;
  left:0;
  top:0;
  width: $leftbar-width;
  bottom: 0;
}

.toolbar {
  position: absolute;
  overflow: hidden;
  top: $navigation-height;
  left:0;
  right:0;
  height: $toolbar-height - 6px;
  border-bottom: solid 1px darken($toolbar-fill, 12);
  background-color: $toolbar-fill;
  padding-top: 6px;
  padding-left: ($leftbar-width + $navigation-inset);
  white-space: nowrap;
}

.toolbar-button {
  border-radius: 2px;
  border: 1px solid transparent;
  height: 24px;
  padding-right: 12px;
  line-height: 24px;
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
  cursor: default;
  display: inline;

  &.before {
    color: $toolbar-button-fill;
  }

  &:hover {
    &:before {
      color: $toolbar-button-hover;
    }
  }
}

.undo {
  @include icon(before, '\F54C')
}

.redo {
  @include icon(before, '\F44E')
}

.layers {
  @include icon(before, '\F328')
}

*/
