@import "../style/theme";
@import "../style/variables";
@import "../style/mixins";

:host {
  overflow: hidden;
  @include fill();
}

.workspace {
  position: absolute;
  overflow: hidden;
  right:0;
  left:0;
  bottom: 0;

  @if $show-navigation-border {
    top: ($navigation-height + 1) /* + $toolbar-height */;
  } @else {
    top: ($navigation-height);
  }
}

.fullscreen {
  @include fill()
}

