@import "../../../../style/variables";
@import "../../../../style/theme";
@import "../../../../style/mixins";

$issue-cell-height: 21px;
$issue-header-height: 28px;
$project-header-fill: lighten($sidebar-header, 3);
$project-upwards-fill: $sidebar-header;
$project-content-fill: $sidebar-main;

:host {
  @include fill;
  background-color: $palette-icons;
  user-select: none;
}

.issue-header {
  top: 0; left: 0; right: 0;
  height: $issue-header-height;
  position: absolute;
  background-color: $project-header-fill;

  div {
    display: inline-block;
    line-height: $issue-header-height;
    height: $issue-header-height;
    width: 30%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: $sidebar-header-title;
    cursor: pointer;

    &:hover {
      background-color: lighten($project-header-fill, 6);
    }
  }
}

.issues {
  position: absolute;
  top: $issue-header-height;
  bottom: 0;
  left:0;
  right: -17px;
  padding: 4px 0; 
  overflow-x: hidden;
  background-color: $project-content-fill;

  .entity-icon {
    padding: 2.5px 4px 0 4px;
  }

  span {
    display: inline-block;
    vertical-align: text-bottom;
  }
}

.issue-cell {
  padding-left: 8px;
  width: 100%;
  height: $issue-cell-height;
  line-height: $issue-cell-height;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
  color: #dddddd;
}

.violation-cell {
  padding-left: 22px;
  width: 100%;
  height: $issue-cell-height;
  line-height: $issue-cell-height;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
  color: #dddddd;

  span {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: cornflowerblue;
    }
  }
}

.warning {
  @include icon(before, '\F026') {
    color: goldenrod;
    left: 50%;
    top: 50%;
    height: 100%;
  }
}

.error {
  @include icon(before, '\F029') {
    color: orangered;
    left: 50%;
    top: 50%;
    height: 100%;
  }
}
