@import "../../../../style/variables";
@import "../../../../style/theme";
@import "../../../../style/mixins";

$issue-cell-height: 21px;
$issue-header-height: 28px;
$project-header-fill: lighten($sidebar-header, 3);
$project-upwards-fill: $sidebar-header;
$issue-content-fill: $sidebar-main;
$issue-text-color: #dddddd;

:host {
  @include fill;
  background-color: $palette-icons;
  user-select: none;
}

.issue-header {
  top: 0; left: 0; right: 0;
  height: $issue-header-height;
  position: absolute;
  background-color: $project-header-fill;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;

  div {
    display: inline-block;
    line-height: $issue-header-height;
    height: $issue-header-height;
    width: 33%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: $sidebar-header-title;
    cursor: pointer;

    &:hover {
      background-color: lighten($project-header-fill, 6);
    }
  }
}

.issues {
  position: absolute;
  top: $issue-header-height;
  bottom: 0;
  left:0;
  right: -17px;
  padding: 4px 0; 
  overflow-x: hidden;
  background-color: $issue-content-fill;

  .entity-icon {
    padding: 2.5px 4px 0 4px;
  }

  span {
    display: inline-block;
    vertical-align: text-bottom;
  }
}

.constraint-cell {
  padding-left: 8px;
  width: 100%;
  height: $issue-cell-height;
  line-height: $issue-cell-height;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  color: $issue-text-color;
}

.constraint-count {
  color: rgba($issue-text-color, 0.6);
  position: absolute;
  right: 22px;
  padding: 0 2px;
  font-size: 0.7rem;
  background-color: $issue-content-fill;
}

.violation-list {
    padding-left: 8px;

    &.loading {
      color: rgba($issue-text-color, 0.5);
      font-size: 0.7rem;
      padding-bottom: 4px;
    }
}

.violation-cell {
  width: 100%;
  height: $issue-cell-height;
  line-height: $issue-cell-height;
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.8rem;
  color: #dddddd;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: cornflowerblue;
    }
  }
}

.warning {
  @include icon(before, '\F026') {
    color: goldenrod;
    left: 50%;
    top: 50%;
    height: 100%;
  }
}

.error {
  @include icon(before, '\F029') {
    color: orangered;
    left: 50%;
    top: 50%;
    height: 100%;
  }
}
