@import "globals";

@mixin icon($position: before, $icon: false, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }

  &:#{$position} {
    @if $icon {
      content: mdi($icon);
    }
    @if $styles {
      speak: none;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      text-decoration: none;
      color: #999999;
      font: normal normal normal 24px/1 "Material Design Icons";
    }
    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}
