/* Icons and glyphs */
$icon-hover: #212637 !default;
$icon-color: #999999 !default;

/* Tool sidebar design */
$sidebar-header: #dddddd !default;
$sidebar-header-title: #4d4d4d !default;
$sidebar-main: white !default;
$sidebar-cards: false !default;
$sidebar-header-icons: $icon-color !default;
$sidebar-header-icons-hover: $icon-hover !default;

/* Splitpane design */
$splitpane-divider: #dddddd !default;
$splitpane-divider-hover: #999999 !default;
$splitpane-content: #eeeeee !default;
$splitpane-divider-handle: #aaaaaa !default;
$splitpane-divider-handle-hover: #3165AE !default;
$splitpane-divider-handle-color: white !default;

/* Menu bar */
$menu-font: 13px Arial,sans-serif !default;

/* Toolbar */
$toolbar-button-fill: #0C2C53 !default;
$toolbar-button-hover: #3165AE !default;
$toolbar-fill: #efefef !default;

/* Branding */
$branding-fill: #212637 !default;
$branding-hover: lighten($branding-fill, 6) !default;

/* Navigation bar */
$navigation-fill: #3367D6 !default;
$navigation-border: darkblue !default;
$navigation-title: white !default;
$show-navigation-border: true !default;

$instruments-pause: lightgray !default;

/* Left bar */
$leftbar-fill: #3165AE !default;
$leftbar-logo: #212637 !default;

/* Grid fill and lines */
$grid-lines: lightgray !default;
$grid-fill: white !default;

/* Interactive border */
$border-fill: rgba(lightgray, 0.95) !default;

/* Palette */
$palette-component: #3F4652 !default;
$palette-icons: #272C33 !default;

/* Canvas controls */
$presenter-body: #222222 !default;
$presenter-icon-hover: white !default;
$presenter-icon: #cecece !default;
