/* Tool sidebar design */
$sidebar-header: #dddddd !default;
$sidebar-header-title: #4d4d4d !default;
$sidebar-main: white !default;
$sidebar-divider: transparent !default;
$sidebar-cards: false !default;

/* Splitpane design */
$splitpane-divider: #dddddd !default;
$splitpane-divider-hover: #999999 !default;
$splitpane-content: #eeeeee !default;
$splitpane-divider-handle: #aaaaaa !default;
$splitpane-divider-handle-hover: #eeeeee !default;

/* Menu bar */
$menu-font: 13px Arial,sans-serif !default;

/* Toolbar */
$toolbar-button-fill: #0C2C53 !default;

/* Branding */
$branding-fill: #212637 !default;

/* Navigation bar */
$navigation-fill: #3165AE !default;
$navigation-border: darkblue !default;
$navigation-title: white !default;
$show-navigation-border: false !default;

/* Left bar */
$leftbar-fill: #3165AE !default;
$leftbar-logo: #212637 !default;

/* Icons and glyphs */
$icon-hover: #111111 !default;
$icon-color: #999999 !default;

/* Grid fill and lines */
$grid-lines: lightgray !default;
$grid-fill: white !default;

/* Interactive border */

