$sidebar-header: #dddddd !default;//#3367D6;//#3367D6;
$sidebar-header-title: #4d4d4d !default;
$sidebar-main: white !default; // #4285FA;
$sidebar-divider: transparent !default;//#97BCF9; //#d6dadc;

$splitpane-divider-width: 5px;
$splitpane-divider-color: #cccccc !default;
$splitpane-divider-color-hover: #999 !default;
$splitpane-content-color: #eeeeee !default;
$splitpane-divider-handle: #aaaaaa !default;
$splitpane-divider-handle-hover: #eeeeee !default;
