$leftbar-width: 48px !default;
$navigation-height: 60px !default;
$navigation-inset: 12px !default;
$splitpane-divider-width: 5px !default;
$toolbar-height: 32px !default;
$icon-bar-width: 32px !default;
$icon-bar-height: 32px !default;
