@import "../../../../style/variables";
@import "../../../../style/theme";
@import "../../../../style/mixins";

$project-cell-height: 21px;
$project-header-height: 28px;
$project-upwards-fill: #eeeeee;

:host {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $palette-icons;
  user-select: none;
}

.project-header {
  top: 0; left: 0; right: 0;
  height: $project-header-height;
  position: absolute;
  background-color: #efefef;
}

.project-reference {
  margin-left: 12px;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-overflow-ellipsis: ellipsis;
  line-height: $project-header-height;
  color: $sidebar-header-title;
  cursor: default;
}

.project-entities {
  position: absolute;
  top: $project-header-height;
  bottom: 0;
  left:0;
  right: 5px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
}

.entity-cell {
  padding-left: 6px;
  width: 100%;
  height: $project-cell-height;
  line-height: $project-cell-height;
  font-weight: bold;
  display: inline-block;

  &.leaf-item {
    @include icon(before, '\f12f') {
      color: rgba(#0e2231, .8);
      transform: translateY(12.5%);
    }
  }

  &.group-item {
    @include icon(before, '\F1A6') {
      color: rgba(#0e2231, .8);
      transform: translateY(12.5%);
    }
  }
}
