@import '../../../style/theme';

:host {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

.layer {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.grid {
  color: $grid-lines;
  background-color: $grid-fill;
}

.border {

}

.controls {
  position: absolute;

  &.top-left {
    margin-top: 16px;
    margin-left: 16px;
    top:0;
    left:0;
  }

  &.top-right {
    margin-top: 16px;
    margin-right: 16px;
    top:0;
    right:0;
  }

  &.bottom-right {
    margin-bottom: 16px;
    margin-right: 16px;
    bottom:0;
    right:0;
  }

  &.bottom-left {
    margin-bottom: 16px;
    margin-left: 16px;
    bottom:0;
    left:0;
  }
}
