@import "../../../style/icons";
@import "../../../style/theme";

.sidebar-container {
  position: absolute;
  overflow: hidden;
  background-color: $sidebar-main;

  @if $sidebar-cards {
    border-radius: 3px;

    &.left {
      left: 5px; right: 5px; top: 5px; bottom: 5px;
    }

    &.right {
      left: 5px; right: 5px; top: 5px; bottom: 5px;
    }
  } @else {
     left: 0; right: 0; top: 0; bottom: 0;
  }
}

.sidebar-header {
  box-sizing: border-box;
  height: 30px;
  padding: 8px 12px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 18px;
  background-color: $sidebar-header;

  .sidebar-header-title {
    margin-top: -2px;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-overflow-ellipsis: ellipsis;
    line-height: 1.2em;
    color: $sidebar-header-title;
  }
}

.sidebar-divider {
  background-color: $sidebar-divider;
  border: 0;
  color: $sidebar-divider;
  height: 1px;
  margin: 0;
  width: 100%;
}

.sidebar-content {
  width: 100%;
  height:100%;
}

.sidebar-extras {

  .sidebar-close-icon {
    position: absolute;
    right: 8px;
    top: 6px;

    @include icon(before, close) {
      color: $icon-color;
    }
  }
}
