@import "../../../../../style/variables";

$overview-fill:  #efefef;  // rgba(#efefef, 0.8) !default;
$diagram-control-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02) !default;

:host {
  position: absolute;
  left: $diagram-control-offset;
  bottom: $diagram-control-offset;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 4px;
  background-color: $overview-fill;
  box-shadow: $diagram-control-shadow;
}

.layer {
  position: absolute;
  top: 0; left: 0;
  bottom: 0;
  right: 0;
}
