@import "../../../../../style/variables";
@import "../../../../../style/theme";

:host {
  position: absolute;
  left: $diagram-control-offset;
  bottom: $diagram-control-offset;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 4px;
  background-color: $presenter-body;
  box-shadow: $presenter-shadow;
}

.layer {
  position: absolute;
  top: 0; left: 0;
  bottom: 0;
  right: 0;
}
