@import "../../../style/theme";
@import "../../../style/variables";

:host {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.splitpane-content {
  position: absolute;
  overflow: hidden;
  background-color: $splitpane-content;

  top: 0;
  bottom: 0;

  &.top {
    top: 0;
    right: 0;
    left: 0;
  }

  &.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &.left {
    top: 0;
    left: 0;
    bottom: 0;
    margin-right: $splitpane-divider-width - 1;
  }

  &.right {
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: $splitpane-divider-width - 1;
  }
}

.splitpane-divider {
  background-color: $splitpane-divider;
  position: absolute;
  box-sizing: border-box;
  transition: background .133s ease-out;
  z-index: 100;

  &.vertical {
    top: 0;
    bottom: 0;
    width: 5px;

    &:before {
      width: 10px;
      top: 50%;
      left: -2.3px;
      margin-top: -15px;
    }
  }

  &.horizontal {
    left: 0;
    right: 0;
    height: 5px;

    &:before {
      left: 50%;
      margin-left: -6px;
    }
  }

  &.left {
    margin-left: -5px;
  }

  &.right {
     margin-left: -1px;
  }

  &:before {
    content: '• • •';
    color: $splitpane-divider-handle;
    position: absolute;
    font-weight: 300;
    line-height: 6px;
    font-size: 11px;
    text-align: center;
  }

  &:hover {
    background-color: $splitpane-divider-hover;

    &.vertical {
      cursor: col-resize;
    }

    &.horizontal {
      cursor: row-resize;
    }

    &:before {
      color: $splitpane-divider-handle-hover;
    }
  }
}
