@import "../../../style/theme";

:host {
  cursor: default;
  display: inline-block;
  font: $menu-font;
  height: 29px;
  outline: none;
  white-space: nowrap;
}

.menu-item {
  padding: 0 12px 5px 0;
  color: white;
  text-align: left;
  display: inline-block;
  cursor: pointer;
  border-radius: 3;
}

