<section class="palette-components">
  <div *ngFor="let c of components" class="palette-component">
    <span>{{c}}</span>
  </div>
</section>
<div #select class="palette-selected" *ngIf="categories && categories.length > 0">
  <span></span>
  <span></span>
</div>
<section #icons class="palette-icons"
         (click)="onSelect($event)" (mouseenter)="onIconsEnter()"
         (mouseleave)="onIconsLeave()" (mousemove)="onIconsMove()">
  <div *ngFor="let c of categories" class="palette-icon circle">
  </div>
</section>
<section class="palette-labels" [class.dimmed]="dimmed == true"
  (click)="onSelect($event)">
  <div *ngFor="let c of categories" class="palette-label">
    <span>{{c.name}}</span>
  </div>
</section>
