@import "../../../../style/variables";
@import "../../../../style/theme";
@import "../../../../style/mixins";

$palette-component: #3F4652;
$palette-icons: #272C33;
$palette-icons-span-adjust: 4px;

:host {
  position: absolute;
  width: 100%;
  height: 100%;
}

.palette-icons {
  position: absolute;
  overflow: hidden;
  top:0;
  right:0;
  bottom:0;
  width: $icon-bar-width;
  background-color: $palette-icons;
}

.palette-icon {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.palette-selected {
  right: 0;
  position: absolute;
  transform: translateY(3*$icon-bar-height);
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  width: $icon-bar-width;
  height: $icon-bar-height;
  background-color: $palette-component;

  // optimized for right sided display
  span {
    background-color: $palette-component;
    position: absolute;
    right: $icon-bar-width;
    left: 0;
    top: -$palette-icons-span-adjust;
    width: $palette-icons-span-adjust;
    height: $palette-icons-span-adjust;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2*$palette-icons-span-adjust;
      height: 2*$palette-icons-span-adjust;
      border-radius: $palette-icons-span-adjust;
      background-color: $palette-icons;
    }

    &:last-child {
      top: auto;
      bottom: -$palette-icons-span-adjust;

      &:after {
        top: 0;
      }
    }
  }
}

.circle {
  @include icon(before, '\f12f') {
    color: white;
    left: 50%;
    top: 50%;
    height: 100%;
    position: absolute;
    margin-left: -9px;
    margin-top: -9px;
  }
}

.palette-labels {
  position: absolute;
  overflow: hidden;
  top:0;
  right: $icon-bar-width;
  left:0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}

.palette-label {
  height: $icon-bar-height;
  line-height: $icon-bar-height;
  font-weight: bold;
  text-align: right;
  margin-right: 6px;
  color: white;

  &:hover {
    background-color: #00b0e8;
  }
}

.palette-components {
  position: absolute;
  overflow: hidden;
  top:0;
  right:$icon-bar-width;
  bottom:0;
  left:0;
  padding: 6px;
  background-color: $palette-component;
}

.palette-component {
  background-color: white;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 4px;
  text-align: center;
  line-height: 70px;
  border-radius: 3px;

  &:hover {
    background-color: lightgray;
  }
}

