@import "../../../../style/variables";
@import "../../../../style/theme";
@import "../../../../style/mixins";

$palette-component: $sidebar-main;
$palette-icons: darken($sidebar-main, 16);
$palette-icons-glyph: darken($navigation-fill ,6);;
$palette-icons-span-adjust: 4px;
$palette-component-entry-hover: #dddddd;
$palette-component-entry: #eeeeee;
$palette-labels: rgba(white, 0.85);

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $palette-icons;
}

.palette-icons {
  position: absolute;
  overflow: hidden;
  top:0;
  right:0;
  bottom:0;
  width: $icon-bar-width;
  background-color: transparent;
  z-index: 11;
}

.palette-icon {
  width: $icon-bar-width;
  height: $icon-bar-height;
  position: relative;
  cursor: pointer;
}

.circle {
  @include icon(before, '\f12f') {
    color: $palette-icons-glyph;
    left: 50%;
    top: 50%;
    height: 100%;
    position: absolute;
    margin-left: -9px;
    margin-top: -9px;
  }
}

.palette-selected {
  right: 0;
  position: absolute;
  transform: translateY(0);
  transition: transform .3s ease-out;
  width: $icon-bar-width;
  height: $icon-bar-height;
  background-color: $palette-component;
  z-index: 0;

  span {
    background-color: $palette-component;
    position: absolute;
    right: $icon-bar-width;
    left: 0;
    top: -$palette-icons-span-adjust;
    width: $palette-icons-span-adjust;
    height: $palette-icons-span-adjust;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2*$palette-icons-span-adjust;
      height: 2*$palette-icons-span-adjust;
      border-radius: $palette-icons-span-adjust;
      background-color: $palette-icons;
    }

    &:last-child {
      top: auto;
      bottom: -$palette-icons-span-adjust;

      &:after {
        top: 0;
      }
    }
  }
}

.palette-labels {
  position: absolute;
  overflow: hidden;
  top:0;
  right: $icon-bar-width;
  left:0;
  bottom: 0;
  transition: background .33s ease-out;
  z-index: -1;

  &.dimmed {
    background-color: $palette-labels;
    z-index: 9;
  }

  .palette-label {
    height: $icon-bar-height;
    line-height: $icon-bar-height;
    font-weight: bold;
    text-align: right;
    margin-right: 6px;
    color: invert($palette-labels);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.palette-components {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top:0;
  bottom:0;
  left:0;
  right:$icon-bar-width;
  padding: 6px 6px 6px 0;
  background-color: $palette-component;

  direction: rtl;
  .flipped {
    direction: ltr !important;
  }

  .palette-component {
    background-color: $palette-component-entry;
    overflow: hidden;
    display: inline-block;
    min-width: 70px;
    width: 45%;
    height: 70px;
    margin: 4px;
    text-align: center;
    line-height: 70px;
    border-radius: 3px;
    cursor: default;
    user-select: none;
    transition: all .15s linear;

    &:hover {
      background-color: $palette-component-entry-hover;
      transform: scale(1.1);
    }
  }
}

