<div class="palette-components">
  <div *ngFor="let c of components" class="palette-component">
    <span>{{c}}</span>
  </div>
</div>
<div #select class="palette-selected">
  <span></span>
  <span></span>
</div>
<div #icons class="palette-icons" (click)="onIconSelect($event)">
  <div *ngFor="let c of categories" class="palette-icon circle"></div>
</div>
<div class="palette-labels" [class.dimmed]="dimmed == true">
  <div *ngFor="let c of categories" class="palette-label">
    <span>{{c}}</span>
  </div>
</div>
