@import "../../../../style/mixins";

$inspector-categories-height: 28px;
$inspector-categories-fill: #efefef;
$inspector-category-fill: transparent;
$inspector-category-hover: darken($inspector-categories-fill, 6);
$inspector-content-fill: white;

:host {
  @include fillh();
  user-select: none;
}

.inspector-categories {
  @include topHeight($inspector-categories-height);
  background-color: $inspector-categories-fill;
  display: inline;

  .inspector-category {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 20px;
    line-height: $inspector-categories-height;
    height: $inspector-categories-height;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
    transition: background .15s ease-in;

    background-color: $inspector-category-fill;
    &:hover {
      background-color: $inspector-category-hover;
    }

    &.left {  left: 0;  width: 33%; }
    &.center {  left: 33%;  right: 33%;  }
    &.right {  left: 66%;  right: 0;  }

    &.active {
      background-color: $inspector-content-fill;
    }
  }
}

.inspector-content {
  @include fillh(0, $inspector-categories-height, 0, 0);
  padding: 5px 8px;
  background-color: $inspector-content-fill;
}

.inspector-overlay {
  @include fill();

  h3 {
    color: lightgray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    cursor: default;

    @include icon(before, '\f0AD') {
      
    }
  }
}
