<section class="branding" [class.show-branding]="showBranding == true">
  <a href="#" title="Go back to projects"></a>
</section>
<section class="navigation-upper" (click)="onFavoriteClick()" [class.show-branding]="showBranding == true">
  <h2 class="navigation-title" [class.starred]="favorite">{{projectName}}</h2>
</section>
<section class="navigation-lower" [class.show-branding]="showBranding == true">
  <menu-bar>
  </menu-bar>
</section>
<form action="query/" method="GET" class="search search-form">
  <input class="search search-text">
  <button type="submit" class="search-button"></button>
</form>
<section class="navigation-account">
  <h3 class="account-title">{{userName}}</h3>
</section>
