$navigation-color: #1B1C1D;
$navigation-border: darkblue;
$show-border: false;


.navigation-container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*
  border-color: $navigation-border;
  border-bottom: 1px solid;
  */
  background-color: $navigation-color;
}

