@import "../../../style/theme";
@import "../../../style/variables";
@import "../../../style/mixins";

$left-shift: 40px;

:host {
  @include topHeight($navigation-height);

  background-color: $navigation-fill;
  user-select: none;

  @if $show-navigation-border {
    border-color: $navigation-border;
    border-bottom: 1px solid;
  }

  .navigation-upper {
    position: absolute;
    top:0;
    height: 60%;
    left: 0;
    width: 33%;
    margin-left: $navigation-inset;
    margin-top: 2px;

    &.show-branding {
      left: $leftbar-width;
    }

    .navigation-title {
      margin-top: 8px;
      margin-bottom: 0;
      font-weight: normal;
      font-size: 18px;
      color: $navigation-title;
      line-height: 22px;
      max-width: 200px;
      text-overflow: ellipsis;
      z-index: 1;
      position: absolute;
      cursor: pointer;

      @include icon(after, '\f4D2') {
        color: $navigation-title;
        margin-left: 10px;
      }

      &.starred {
        @include icon(after, '\f4CE') {
          color: gold;
          margin-left: 10px ;
        }
      }
    }
  }

  .navigation-account {
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    width: 33%;
    white-space: nowrap;
    display: block;

    .account-avatar {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    img {
      max-width: 80%;
      max-height: 80%;
    }

    .account-title {
      top: 50%;
      right: $navigation-inset;
      margin: 0;
      color: $navigation-title;
      position: absolute;
      transform: translate(0%, -50%);
      font-weight: normal;
      @include icon(after, '\f009') {
        padding-left: 6px;
      }
    }
  }

  .navigation-lower {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    width:33%;
    margin-left: $navigation-inset;
    white-space: nowrap;

    &.show-branding {
      left: $leftbar-width;
    }
  }

  .branding {
    height: $navigation-height;
    width: $leftbar-width;
    background-color: $branding-fill;

    &:hover {
      background-color: $branding-hover;
      transition: background .333s ease-in-out;
    }

    img {
      max-width: 80%;
      max-height: 80%;
    }

    a {
      @include icon(before,'\f06D') {
        color: $navigation-fill;
        width: 100%;
        font-size: 32px;
      }
    }
  }
}

.search {
  display: inline-block;
  background-color: lighten($navigation-fill, 8);
  border: 0;
  border-radius: 3px;
  color: white;
  font-size: .875rem;
  font-weight: 700;
  margin: 0;
  outline: none;
  box-shadow: 0 1px 1.5px rgba(0,0,0,0.06), 0 1px 1px rgba(0,0,0,0.12);
  padding: 7px $left-shift 7px 7px;

  &.search-text {
    @include fill();
    width: 100%;
    box-sizing: content-box;
    line-height: 18px;

    &:focus {
      background-color: lighten($navigation-fill, 14);
    }
  }

  &.search-form {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 465px;
  }

  .search-button {
    border: 0;
    position: absolute;
    right: -$left-shift;
    top: 50%;
    background-color: transparent;
    transform: translateY(-45%);
    outline: none;
    cursor: pointer;

    @include icon(before, '\f349') {
      background-color: transparent;
      font-size: 18px;
      color: white;
    }
  }
}
