@import "../../../style/theme";
@import "../../../style/icons";
@import "../../app";

.navigation-container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  .navigation-upper {
    position: absolute;
    top:0;
    height: 60%;
    left:0;
    right:0;
    margin-left: 12px;
    margin-top: 2px;

    .navigation-title {
      margin-top: 8px;
      margin-bottom: 0;
      font-weight: normal;
      font-size: 18px;
      color: $navigation-title;
      line-height: 22px;
      max-width: 200px;
      text-overflow: ellipsis;
      z-index: 1;
      position: absolute;

      @include icon(after, star) {
        color: goldenrod;
        margin-left: 12px ;
      }
    }
  }

  .navigation-lower {
    position: absolute;
    top: 60%;
    bottom: 0;
    left:0;
    right:0;
    margin-left: 12px;
  }

  @if $show-navigation-border {
    border-color: $navigation-border;
    border-bottom: 1px solid;
  }
  background-color: $navigation-fill;
}


.toolbar {
  button {
    background-color: $toolbar-button-fill;
  }
}
