.modal-backdrop {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
}

.modal-container {
    z-index: 1001;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.modal-content-header {
    margin: 25px 20px 24px;
    font-size: 18px;
    font-weight: 600;
}

.modal-content-banner {
    background-color: #66BB6A;   
    color: #fff;
    min-height: 40px;
    padding: 15px 20px;

    h1 {
        font-size: 16px;
        font-weight: 500;
        margin-top: 0;
    }
}

.modal-border {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    float: left;
    position: relative;
    box-sizing: border-box;
}

.modal-pane {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 614px;
    width: 660px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}