@import "../../../../../style/mixins";
@import "../../../../../style/theme";
@import "../../../../../style/variables";

$presenter-body: #efefef;
$presenter-shadow: none; // 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
$breadcrumbs-text-color: lighten($icon-color,8);

:host {
  position: absolute;
  overflow: hidden;
  top: $diagram-control-offset;
  left: $diagram-control-offset;
  box-shadow: $presenter-shadow;
}

.navigation {
  list-style: none;
  height: 21px;
  line-height: 21px;
  background-color: $presenter-body;
  border-radius: 2px;
  padding: 3px 0 3px 8px;
  margin: 0;

  li {
    text-decoration: none;
    text-align: left;
    display: inline;
    color: $breadcrumbs-text-color;

    img {
      padding: 2.5px 0 0 0;
    }

    a {
      text-decoration: none;
      color: $breadcrumbs-text-color;
      font-family: sans-serif;
      display: inline-block;
      height: 21px;
      line-height: 21px;
      vertical-align: text-bottom;
      transition: color 200ms ease-out;
      
      &:hover {
        color: $icon-hover;
      }
    }

    &:after {
      padding-left: 6px;
      padding-right: 6px;
      content: "/";
      font-size: 21px;
    }

    &:last-child:after {
      content: "";
    }

    &:last-child {
      font-weight: bold;
    }
  }
}
